#form{
	position: absolute;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 15%
}

form{
	border-style: solid;
	border-width: 3px;
	border-radius: 6px;
	padding: 5%;
}
form ul li{
	display: inline-grid;
}