{%extends '../basic-products.html'%}
{%load static%}

  {% block head %}
  <link href="{% static 'catalog/css/horizontal-grid.css' %}" rel="stylesheet"/>
  {% endblock head %}
{% block content %}
<div id="scene_grid">
    <div></div>
  <div class="scene" data-hover-only="true" id="scene">
    <img data-depth="0.65" src="{% static 'catalog/2104/img/2104_51_52.png' %}"/>   
    <img data-depth="0.6" src="{% static 'catalog/2104/img/2104_50.png' %}"/>
    <img data-depth="0.5" src="{% static 'catalog/2104/img/2104_49.png' %}"/>
    <img data-depth="0.6" src="{% static 'catalog/2104/img/2104_48.png' %}"/>
    <img data-depth="0.65" src="{% static 'catalog/2104/img/2104_46_47.png' %}"/>
    <img data-depth="0.5" src="{% static 'catalog/2104/img/2104_45.png' %}"/>
    <img data-depth="0.45" src="{% static 'catalog/2104/img/2104_44.png' %}"/>
    <img data-depth="0.4" src="{% static 'catalog/2104/img/2104_42_43.png' %}"/>
    <img data-depth="0.45" src="{% static 'catalog/2104/img/2104_41.png' %}"/>  
    <img data-depth="0.4" src="{% static 'catalog/2104/img/2104_40.png' %}"/>   
    <img data-depth="0.35" src="{% static 'catalog/2104/img/2104_38_39.png' %}"/>  
    <img data-depth="0.475" src="{% static 'catalog/2104/img/2104_37.png' %}"/> 
    <img data-depth="0.4" src="{% static 'catalog/2104/img/2104_36.png' %}"/>  
    <img data-depth="0.3" src="{% static 'catalog/2104/img/2104_34_35.png' %}"/>
    <img data-depth="0.275" src="{% static 'catalog/2104/img/2104_32_33.png' %}"/>
    <img data-depth="0.25" src="{% static 'catalog/2104/img/2104_29_30_31.png' %}"/>
    <img data-depth="0.275" src="{% static 'catalog/2104/img/2104_27_28.png' %}"/>
    <img data-depth="0.2" src="{{product_img}}"/>
    <img data-depth="0.2" src="{% static 'catalog/2104/img/2104_20_23.png' %}"/> 
    <img data-depth="0.15" src="{% static 'catalog/2104/img/2104_19.png' %}"/> 
    <img data-depth="0.2" src="{% static 'catalog/2104/img/2104_12_14_17.png' %}"/>
    <img data-depth="0.16" src="{% static 'catalog/2104/img/2104_9.png' %}"/>
    <img data-depth="0.13" src="{% static 'catalog/2104/img/2104_7.png' %}"/>
    <img data-depth="0.1" src="{% static 'catalog/2104/img/2104_6.png' %}"/>
    <img data-depth="0.01" src="{% static 'catalog/2104/img/2104_5.png' %}"/>
    <img data-depth="0.05" src="{% static 'catalog/2104/img/2104_4.png' %}"/>
    <img data-depth="0" src="{% static 'catalog/2104/img/2104_0_border.png' %}"/> 
  </div>
    <div></div>
 {% endblock content %}