{%extends '../basic-products.html'%}
{%load static%}
  {% block head %}
  <link href="{% static 'catalog/css/horizontal-grid.css' %}" rel="stylesheet"/>
  {% endblock head %}
{% block content %}
  
  <div class="scene" id="scene" data-hover-only="true" data-limit-y="50" data-limit-x="50">
    <img data-depth="0.6" src="{% static 'catalog/4021/img/4021_59.png' %}"/>
    <img data-depth="0.9" src="{% static 'catalog/4021/img/4021_58.png' %}"/>
    <img data-depth="0.7" src="{% static 'catalog/4021/img/4021_57.png' %}"/> 
    <img data-depth="0.6" src="{% static 'catalog/4021/img/4021_55_56.png' %}"/>
    <img data-depth="0.2" src="{% static 'catalog/4021/img/4021_54.png' %}"/>
    <img data-depth="0.5" src="{% static 'catalog/4021/img/4021_52_53.png' %}"/>
    <img data-depth="0.4" src="{% static 'catalog/4021/img/4021_51.png' %}"/>
    <img data-depth="0.7" src="{% static 'catalog/4021/img/4021_50.png' %}"/>
    <img data-depth="0.6" src="{% static 'catalog/4021/img/4021_49.png' %}"/>
    <img data-depth="0.5" src="{% static 'catalog/4021/img/4021_48.png' %}"/>
    <img data-depth="0.6" src="{% static 'catalog/4021/img/4021_47.png' %}"/>
    <img data-depth="0.55" src="{% static 'catalog/4021/img/4021_46.png' %}"/>
    <img data-depth="0.5" src="{% static 'catalog/4021/img/4021_43_44_45.png' %}"/>
    <img data-depth="0.4" src="{% static 'catalog/4021/img/4021_42.png' %}"/>
    <img data-depth="0.3" src="{% static 'catalog/4021/img/4021_41.png' %}"/>
    <img data-depth="0.5" src="{% static 'catalog/4021/img/4021_40.png' %}"/>
    <img data-depth="0.4" src="{% static 'catalog/4021/img/4021_38_39.png' %}"/>
    <img data-depth="0.2" src="{% static 'catalog/4021/img/4021_37.png' %}"/>
    <img data-depth="0.3" src="{% static 'catalog/4021/img/4021_32_-_36.png' %}"/>
    <img data-depth="0.25" src="{% static 'catalog/4021/img/4021_31.png' %}"/>
    <img data-depth="0.2" src="{{product_img}}"/>
    <img data-depth="0.2" src="{% static 'catalog/4021/img/4021_26.png' %}"/>
    <img data-depth="0" src="{% static 'catalog/4021/img/4021_18_-_24.png' %}"/>
    <img data-depth="0.15" src="{% static 'catalog/4021/img/4021_10_13.png' %}"/>
    <img data-depth="0" src="{% static 'catalog/4021/img/4021_7_8.png' %}"/>
    <img data-depth="0" src="{% static 'catalog/4021/img/4021_0_border.png' %}"/>
    <div data-depth="0" style="height: 100%; width: 100%; left: 0 px; top: 0 px; position: relative; background-color: grey;"></div>
  </div>
 {% endblock content %}