{%extends '../basic-product.html'%}
{%load static%}
  {% block head %}
  <link href="{% static 'catalog/css/horizontal-grid.css' %}" rel="stylesheet"/>
  {% endblock head %}

{% block content %}
  <div id="scene_grid">
    <div></div>
    <div class="scene"  id="scene" data-hover-only="true">
      <img data-depth="0.55"   src="{% static 'catalog/4030/img/4030_59_60_61_62_63_64_65.png' %}"/>
      <img data-depth="0.5"   src="{% static 'catalog/4030/img/4030_53_54_55_56_57_58.png' %}"/>
      <img data-depth="0.4"   src="{% static 'catalog/4030/img/4030_50_51_52.png' %}"/>
      <img data-depth="0.3"   src="{% static 'catalog/4030/img/4030_40_41_42_43_44_45_46_47_48_49.png' %}"/>
      <img data-depth="0.35"   src="{% static 'catalog/4030/img/4030_37_38_39.png' %}"/>
      <img data-depth="0.3"   src="{% static 'catalog/4030/img/4030_34_35_36.png' %}"/>
      <img data-depth="0.3"   src="{{product_img}}"/>
      <img data-depth="0.3"   src="{% static 'catalog/4030/img/4030_30_31.png' %}"/>
      <img data-depth="0.2"   src="{% static 'catalog/4030/img/4030_27_28_29.png' %}"/>
      <img data-depth="0.3"   src="{% static 'catalog/4030/img/4030_26.png' %}"/>
      <img data-depth="0.2"   src="{% static 'catalog/4030/img/4030_25.png' %}"/>
      <img data-depth="0.25"   src="{% static 'catalog/4030/img/4030_24.png' %}"/>
      <img data-depth="0.05"   src="{% static 'catalog/4030/img/4030_23.png' %}"/>
      <img data-depth="0.15"   src="{% static 'catalog/4030/img/4030_21_22.png' %}"/>
      <img data-depth="0.1"   src="{% static 'catalog/4030/img/4030_19_20.png' %}"/>
      <img data-depth="0.05"   src="{% static 'catalog/4030/img/4030_9_10_11_12_13_14_15_16_17_18.png' %}"/>
      <img data-depth="0.2"   src="{% static 'catalog/4030/img/4030_8.png' %}"/>
      <img data-depth="0.05"   src="{% static 'catalog/4030/img/4030_5_6_7.png' %}"/>
      <img data-depth="0"   src="{% static 'catalog/4030/img/4030_1_2_3_4.png' %}"/>
      <img data-depth="0"   src="{% static 'catalog/4030/img/4030_0_border.png' %}"/>
      </div>
      <div></div>
  </div>
 {% endblock content %}
