{%extends '../basic.html'%}
{%load static%}
{%block title%} 
    4030 
{%endblock title%}
  {%block head%}
    <!-- <link href="{% static 'catalog/css/horizontal.css' %}" rel="stylesheet"/> -->
  {%endblock head%}
{%block divmenu%}
  <div class="row fixed-top" style="z-index: 50">
{%endblock divmenu%}

{%block content%}
<div class="row " style="height: 90vh">
    <div class="scene col-10 col-sm-12 col-md-12 col-lg-12 col-xl-12" data-hover-only="true" id="scene">
      <img data-depth="0.55" class="img-fluid" src="{% static 'catalog/4030/img/4030_65.png' %}"/>
      <img data-depth="0.55" class="img-fluid"  src="{% static 'catalog/4030/img/4030_64.png' %}"/>
      <img data-depth="0.55" class="img-fluid" src="{% static 'catalog/4030/img/4030_63.png' %}"/>
      <img data-depth="0.55" class="img-fluid" src="{% static 'catalog/4030/img/4030_62.png' %}"/>
      <img data-depth="0.55" class="img-fluid" src="{% static 'catalog/4030/img/4030_61.png' %}"/>
      <img data-depth="0.55" class="img-fluid" src="{% static 'catalog/4030/img/4030_60.png' %}"/>
      <img data-depth="0.55" class="img-fluid" src="{% static 'catalog/4030/img/4030_59.png' %}"/>
      <img data-depth="0.5" class="img-fluid" src="{% static 'catalog/4030/img/4030_58.png' %}"/>
      <img data-depth="0.5" class="img-fluid" src="{% static 'catalog/4030/img/4030_57.png' %}"/>
      <img data-depth="0.5" class="img-fluid" src="{% static 'catalog/4030/img/4030_56.png' %}"/>
      <img data-depth="0.5" class="img-fluid" src="{% static 'catalog/4030/img/4030_55.png' %}"/>
      <img data-depth="0.5" class="img-fluid" src="{% static 'catalog/4030/img/4030_54.png' %}"/>
      <img data-depth="0.5" class="img-fluid" src="{% static 'catalog/4030/img/4030_53.png' %}"/>
      <img data-depth="0.4" class="img-fluid" src="{% static 'catalog/4030/img/4030_52.png' %}"/>
      <img data-depth="0.4" class="img-fluid" src="{% static 'catalog/4030/img/4030_51.png' %}"/>
      <img data-depth="0.4" class="img-fluid" src="{% static 'catalog/4030/img/4030_50.png' %}"/>
      <img data-depth="0.3" class="img-fluid" src="{% static 'catalog/4030/img/4030_49.png' %}"/>
      <img data-depth="0.3" class="img-fluid" src="{% static 'catalog/4030/img/4030_48.png' %}"/>
      <img data-depth="0.3" class="img-fluid" src="{% static 'catalog/4030/img/4030_47.png' %}"/>
      <img data-depth="0.3" class="img-fluid" src="{% static 'catalog/4030/img/4030_46.png' %}"/>
      <img data-depth="0.3" class="img-fluid" src="{% static 'catalog/4030/img/4030_45.png' %}"/>
      <img data-depth="0.3" class="img-fluid" src="{% static 'catalog/4030/img/4030_44.png' %}"/>
      <img data-depth="0.3" class="img-fluid" src="{% static 'catalog/4030/img/4030_43.png' %}"/>
      <img data-depth="0.3" class="img-fluid" src="{% static 'catalog/4030/img/4030_42.png' %}"/>
      <img data-depth="0.3" class="img-fluid" src="{% static 'catalog/4030/img/4030_41.png' %}"/>
      <img data-depth="0.3" class="img-fluid" src="{% static 'catalog/4030/img/4030_40.png' %}"/>
      <img data-depth="0.35" class="img-fluid" src="{% static 'catalog/4030/img/4030_39.png' %}"/>
      <img data-depth="0.35" class="img-fluid" src="{% static 'catalog/4030/img/4030_38.png' %}"/>
      <img data-depth="0.35" class="img-fluid" src="{% static 'catalog/4030/img/4030_37.png' %}"/>
      <img data-depth="0.3" class="img-fluid" src="{% static 'catalog/4030/img/4030_36.png' %}"/>
      <img data-depth="0.3" class="img-fluid" src="{% static 'catalog/4030/img/4030_35.png' %}"/>
      <img data-depth="0.3" class="img-fluid" src="{% static 'catalog/4030/img/4030_34.png' %}"/>
      <img data-depth="0.3" class="img-fluid" src="{{product_img}}"/>
      <img data-depth="0.3" class="img-fluid" src="{% static 'catalog/4030/img/4030_32.png' %}"/>
      <img data-depth="0.3" class="img-fluid" src="{% static 'catalog/4030/img/4030_31.png' %}"/>
      <img data-depth="0.3" class="img-fluid" src="{% static 'catalog/4030/img/4030_30.png' %}"/>
      <img data-depth="0.2" class="img-fluid" src="{% static 'catalog/4030/img/4030_29.png' %}"/>
      <img data-depth="0.2" class="img-fluid" src="{% static 'catalog/4030/img/4030_28.png' %}"/>
      <img data-depth="0.2" class="img-fluid" src="{% static 'catalog/4030/img/4030_27.png' %}"/>
      <img data-depth="0.3" class="img-fluid" src="{% static 'catalog/4030/img/4030_26.png' %}"/>
      <img data-depth="0.2" class="img-fluid" src="{% static 'catalog/4030/img/4030_25.png' %}"/>
      <img data-depth="0.25" class="img-fluid" src="{% static 'catalog/4030/img/4030_24.png' %}"/>
      <img data-depth="0.05" class="img-fluid" src="{% static 'catalog/4030/img/4030_23.png' %}"/>
      <img data-depth="0.15" class="img-fluid" src="{% static 'catalog/4030/img/4030_22.png' %}"/>
      <img data-depth="0.15" class="img-fluid" src="{% static 'catalog/4030/img/4030_21.png' %}"/>
      <img data-depth="0.1" class="img-fluid" src="{% static 'catalog/4030/img/4030_20.png' %}"/>
      <img data-depth="0.1" class="img-fluid" src="{% static 'catalog/4030/img/4030_19.png' %}"/>
      <img data-depth="0.05" class="img-fluid" src="{% static 'catalog/4030/img/4030_18.png' %}"/>
      <img data-depth="0.05" class="img-fluid" src="{% static 'catalog/4030/img/4030_17.png' %}"/>
      <img data-depth="0.05" class="img-fluid" src="{% static 'catalog/4030/img/4030_16.png' %}"/>
      <img data-depth="0.05" class="img-fluid" src="{% static 'catalog/4030/img/4030_15.png' %}"/>
      <img data-depth="0.05" class="img-fluid" src="{% static 'catalog/4030/img/4030_14.png' %}"/>
      <img data-depth="0.05" class="img-fluid" src="{% static 'catalog/4030/img/4030_13.png' %}"/>
      <img data-depth="0.05" class="img-fluid" src="{% static 'catalog/4030/img/4030_12.png' %}"/>
      <img data-depth="0.05" class="img-fluid" src="{% static 'catalog/4030/img/4030_11.png' %}"/>
      <img data-depth="0.05" class="img-fluid" src="{% static 'catalog/4030/img/4030_10.png' %}"/>
      <img data-depth="0.05" class="img-fluid" src="{% static 'catalog/4030/img/4030_9.png' %}"/>
      <img data-depth="0.2" class="img-fluid" src="{% static 'catalog/4030/img/4030_8.png' %}"/>
      <img data-depth="0.05" class="img-fluid" src="{% static 'catalog/4030/img/4030_7.png' %}"/>
      <img data-depth="0.05" class="img-fluid" src="{% static 'catalog/4030/img/4030_6.png' %}"/>
      <img data-depth="0.05" class="img-fluid" src="{% static 'catalog/4030/img/4030_5.png' %}"/>
      <img data-depth="0" class="img-fluid" src="{% static 'catalog/4030/img/4030_4.png' %}"/>
      <img data-depth="0" class="img-fluid" src="{% static 'catalog/4030/img/4030_3.png' %}"/>
      <img data-depth="0" class="img-fluid" src="{% static 'catalog/4030/img/4030_2.png' %}"/>
      <img data-depth="0" class="img-fluid" src="{% static 'catalog/4030/img/4030_1.png' %}"/>
      <img data-depth="0.2" class="img-fluid" src="{% static 'catalog/4030/img/4030_0_border.png' %}"/>
   </div>
</div>
  {%endblock content%}

 {%block parallax%}
 <script src="{% static 'catalog/js/parallax.min.js' %}"> </script>
  <script>
   var scene = document.getElementById('scene');
    var parallaxInstance = new Parallax(scene,{
                        relativeInput: true});
    </script>
   {%endblock parallax%}
